<document>
  <listTemplate>
    <list>
      <header>
        <title>Sickbeard</title>
      </header>
      <section>
        <listItemLockup data-href-page="shows" accessibilityText="Accessible alert template">
          <title>TV Shows</title>
          <relatedContent>
            <lockup>
              <description class="descriptionLayout">TV Shows</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="shows-2" accessibilityText="Accessible alert template">
          <title>TV Shows</title>
          <relatedContent>
            <lockup>
              <description class="descriptionLayout">TV Shows 2</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
      </section>
    </list>
  </listTemplate>
</document>
